@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  background: #dcdcdc;
}
.filter {
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
}
.filter li {
  list-style: none;
  background-color: #eee;
  padding: 8px 20px;
  margin: 5px;
  letter-spacing: 1px;
  cursor: pointer;
}
.filter li.active,
.filter li:hover {
  background-color: #03a9f4;
  color: #fff;
}
@media (max-width: 800px) {
  .filter {
    flex-direction: column;
  }
}

.listPro {
  position: relative;
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}
.listPro .card {
  max-width: 250px;
  height: 430px;
  width: 100%;
  background: #fff;
}
.listPro .card .imgBx {
  position: relative;
  width: 100%;
  height: 310px;
  overflow: hidden;
}
.listPro .card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease-in-out;
  transform-origin: right;
}
.listPro .card:hover .imgBx img {
  transform: scale(1.5);
}
.listPro .card .content {
  padding: 10px;
}
.listPro .card .content .productName h3 {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin: 5px 0;
}
.listPro .card .content .price_rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.listPro .card .content .price_rating h2 {
  font-size: 20px;
  color: #ff2020;
  font-weight: 500;
}
.listPro .card .content .price_rating .fa {
  color: #ffd513;
  cursor: pointer;
}
.listPro .card .content .price_rating .fa.grey {
  color: #ccc;
}
.listPro .card:hover .action li {
  transform: translateX(0px);
}
.action {
  position: absolute;
  top: 10px;
  right: 10px;
}
.action li {
  position: relative;
  list-style: none;
  width: 40px;
  height: 40px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  cursor: pointer;
  transform: translateX(60px);
  transition: transform 0.5s;
}
.action li:nth-child(2) {
  transition-delay: 0.15s;
}
.action li:nth-child(3) {
  transition-delay: 0.3s;
}
.action li span {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%) translateX(-20px);
  white-space: nowrap;
  padding: 4px 6px;
  background: #fff;
  color: #333;
  font-weight: 500;
  font-size: 12px;
  border-radius: 4px;
  pointer-events: none;
  opacity: 0;
  transition: 0.5s r;
}
.action li:hover {
  background: #ff2020;
  color: #fff;
}
.action li:hover span {
  opacity: 1;
  transform: translateY(-50%) translateX(0px);
}
.action li span::before {
  content: "";
  position: absolute;
  top: 50;
  right: -4px;
  width: 8px;
  height: 8px;
  background: #fff;
  transform: translateX(-50%) rotate(45deg);
}
.card.hide {
  display: none;
  width: 0;
  height: 0;
  overflow: hidden;
}

.center {
  text-align: center;
  background: #dcdcdc;
}

.pagination {
  display: inline-block;
  background: #dcdcdc;
}

.pagination button {
  cursor: pointer;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}
.pagination button.active {
  background-color: #03a9f4;
  color: white;
  border: 1px solid #03a9f4;
}

.pagination button:hover:not(.active) {
  background-color: #03a9f4;
  color: white;
}
@media (max-width: 800px) {
  .listPro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .pagination button {
    padding: 4px 8px;
  }
}
